.border-div{
    position: absolute;
    z-index: -1;
    width: 67%;
    height: 85%;
    background: linear-gradient(90deg, rgba(193,171,235,0.6811099439775911) 35%, rgba(136,115,207,1) 59%, rgba(89,83,184,1) 100%);background: linear-gradient(172deg, rgba(89,83,184,1) 0%, rgba(136,115,207,1) 50%, rgba(193,171,235,0.6811099439775911) 100%);
    border-radius: 16px;
}

#delivery{
    background-color: transparent;
    color: rgb(120, 75, 161);
    font-family: 'Montserrat';
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.first-contact-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 70vw;
}

.contact-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 80vh;
    width: 90vw;
    background-color: RGB(230, 228, 228);
    border-radius: 10px;
}

.contact-form{ 
    background-color: RGB(230, 228, 228);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
}

.contact-title{
    margin-top: 0;
    font-size: 2.5rem;
}

.contact-form h2:not(.contact-title){
    font-family: 'Montserrat';
    padding-top: 1.8rem;
    margin: 0;
    font-size: 1.5rem;
}


.contact-form h3{
    font-size: 1.8rem;
}

.contact-form label{
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat';
    padding-top: 1rem;
}


.contact-form input, .contact-form textarea{
    background-color: transparent;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(120, 75, 161);
    width: 20rem;
}

.contact-form .letter {
    max-height: 96px;
    margin: 0;
    padding: 0;
    font-size: 6rem;
}

.contact-form button{
    margin-top: 2rem;
} 

.form-section {
    text-align: left;
}

.img-select{
    max-width: 30%;
    margin-left: 3rem;
}

.img-select img{
    width: 60%;
    height: 80%;
}

.up{
    height: 300px;
    width: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 10vw;
    z-index: 10;
  }
  
.up-arrow{
    padding: 0;
    transform: rotate(-90deg);
    background-color: transparent;
    color: #9667C9;
  }

  .up-arrow:hover{
    text-shadow: 2px 2px 4px #27085a60;
  }