#root {
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.text-homepage{
  width: 25rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Pro Pixie';
  text-transform: uppercase;
}


.home{
  width: 25rem;
  height: 30rem;
  background-image: url("/dragonportfoliobase.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: levitation;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  margin: 0 auto;
}

@keyframes levitation {
  0% {
    transform: translateY(0); /* déplacement initial */
  }
  50% {
    transform: translateY(-18px) translateX(+2px); /* déplacement vers le haut */
  }
  100% {
    transform: translateY(0) scale(1); /* retour au déplacement initial */
  }
}